    <meta charset="utf-8" />
    <meta name="description" content="Sistem Informasi Manajemen Inventaris BPKAD NTB" />
    <meta name="keywords" content="inventaris, bpkad, ntb, pengamanan, transparansi, kinerja" />
    <meta name="author" content="BPKAD NTB" />
    <link rel="shortcut icon" href="/public/assets/img/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="/public/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/public/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />