{{define "header"}}
<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
  <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
      Aset TIK
    </h1>

    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
      <li class="breadcrumb-item text-muted">
        <a href="/" class="text-muted text-hover-primary">Beranda</a>
      </li>

      <li class="breadcrumb-item">
        <span class="bullet bg-gray-500 w-5px h-2px"></span>
      </li>

      <li class="breadcrumb-item text-muted">Aset</li>
      <li class="breadcrumb-item">
        <span class="bullet bg-gray-500 w-5px h-2px"></span>
      </li>

      <li class="breadcrumb-item text-muted">Aset TIK</li>
      <li class="breadcrumb-item">
        <span class="bullet bg-gray-500 w-5px h-2px"></span>
      </li>

      <li class="breadcrumb-item text-muted">Distribusi</li>
    </ul>
  </div>
</div>
{{end}}

{{define "content"}}
<div class="card card-flush pt-3 mb-5 pt-10">
  <div class="card-body pt-0">
    <form action="/aset/distribusi/store" method="POST">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-6">
                <img src="http://localhost:8080/{{.aset.Path}}" alt="{{.aset.NamaAset}}" class="img-fluid"
                  style="height: 250px; width: 250px;">
              </div>
              <div class="col-lg-6">
                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                  <tbody>
                    <tr>
                      <td class="text-gray-800">Nama Aset</td>
                      <td class="text-gray-800 fw-bold">{{.aset.NamaAset}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Jenis Aset</td>
                      <td class="text-gray-800">{{.aset.JenisAset}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Merek & Model</td>
                      <td class="text-gray-800">{{.aset.Merek}} {{.aset.Model}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Serial Number</td>
                      <td class="text-gray-800">{{.aset.SerialNumber}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Nilai</td>
                      <td class="text-gray-800 fw-bold" style="color: #43ff32;">{{formatCurrency .aset.Nilai}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Tipe Aset</td>
                      <td class="text-gray-800">{{.aset.Tipe.Nama_Tipe}}</td>
                    </tr>
                    <tr>
                      <td class="text-gray-800">Kategori Aset</td>
                      <td class="text-gray-800">{{.aset.Kategori.NamaKategori}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="PemegangAset" class="form-label">Pemegang Aset</label>
            <select id="PemegangAset" class="form-select" data-control="select2" data-placeholder="Pilih Jenis">
              <option></option>
              <option value="pegawai">Pegawai</option>
              <option value="bidang">Bidang</option>
            </select>
          </div>
          <input type="hidden" name="AsetID" id="AsetID" value="{{.aset.ID}}">
          <div class="mb-3" id="pegawai" style="display:none;">
            <label for="PegawaiID" class="form-label">Nama Pemegang Aset</label>
            <select name="PegawaiID" id="PegawaiID" class="form-select" data-control="select2"
              data-placeholder="Pilih Pemegang Aset">
              <option></option>
              {{range .pegawai}}
              <option value="{{.Id}}">{{.Name}} - {{.IdPegawai}}</option>
              {{end}}
            </select>
          </div>
          <div class="mb-3" id="bidang" style="display:none;">
            <label for="BidangID" class="form-label">Bidang</label>
            <select name="BidangID" id="BidangID" class="form-select" data-control="select2"
              data-placeholder="Pilih Bidang">
              <option></option>
              {{range .bidang}}
              <option value="{{.ID}}">{{.NamaBidang}}</option>
              {{end}}
            </select>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-6">
                <label for="TanggalPerolehan" class="form-label">Tanggal Perolehan</label>
                <input type="date" class="form-control" id="TanggalPerolehan" name="TanggalPerolehan" />
              </div>
              <div class="col-lg-6">
                <label for="TanggalSelesai" class="form-label">Tanggal Selesai</label>
                <input type="date" class="form-control" id="TanggalSelesai" name="TanggalSelesai" />
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="Keterangan" class="form-label">Keterangan</label>
            <textarea name="Keterangan" class="form-control" id="Keterangan"></textarea>
          </div>
          <div class="d-flex justify-content-end mt-10">
            <a href="/aset" class="btn btn-sm fw-bold btn-secondary me-3">
              <i class="ki-duotone ki-arrow-left fs-2">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
              Back
            </a>
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="ki-duotone ki-plus fs-2"></i>
              Add
            </button>
          </div>
        </div>
    </form>
  </div>
</div>
{{end}}

{{define "scripts"}}
<script type="text/javascript" src="/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js"></script>
<script>
  $(document).ready(function () {
    ClassicEditor.create(document.querySelector("#Keterangan"), {
      // Konfigurasi tambahan untuk CKEditor
      height: 500, // Atur tinggi editor di sini
    })
      .then((editor) => {
        console.log(editor);
      })
      .catch((error) => {
        console.error(error);
      });

    // Menunggu inisialisasi select2
    $("#PemegangAset").select2({
      placeholder: "Pilih Jenis"
    }).on('select2:select', function (e) {
      const selectedValue = e.target.value; // Dapatkan nilai yang dipilih
      const pegawaiDiv = document.getElementById("pegawai");
      const bidangDiv = document.getElementById("bidang");

      // Fungsi untuk toggle tampilan berdasarkan pilihan
      if (selectedValue === "pegawai") {
        pegawaiDiv.style.display = 'block'; // Tampilkan pegawai
        bidangDiv.style.display = 'none';   // Sembunyikan bidang
      } else if (selectedValue === "bidang") {
        bidangDiv.style.display = 'block';   // Tampilkan bidang
        pegawaiDiv.style.display = 'none';   // Sembunyikan pegawai
      } else {
        pegawaiDiv.style.display = 'none';   // Sembunyikan pegawai
        bidangDiv.style.display = 'none';    // Sembunyikan bidang
      }
    });

    // Periksa pada saat halaman dimuat
    const selectedValue = $("#PemegangAset").val();
    const pegawaiDiv = document.getElementById("pegawai");
    const bidangDiv = document.getElementById("bidang");

    if (selectedValue === "pegawai") {
      pegawaiDiv.style.display = 'block'; // Tampilkan pegawai
      bidangDiv.style.display = 'none';   // Sembunyikan bidang
    } else if (selectedValue === "bidang") {
      bidangDiv.style.display = 'block';   // Tampilkan bidang
      pegawaiDiv.style.display = 'none';   // Sembunyikan pegawai
    } else {
      pegawaiDiv.style.display = 'none';   // Sembunyikan pegawai
      bidangDiv.style.display = 'none';    // Sembunyikan bidang
    }
  });
</script>
{{end}}