{{define "header"}}
<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
  <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
      Aset TIK
    </h1>

    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
      <li class="breadcrumb-item text-muted">
        <a href="/" class="text-muted text-hover-primary">Beranda</a>
      </li>

      <li class="breadcrumb-item">
        <span class="bullet bg-gray-500 w-5px h-2px"></span>
      </li>

      <li class="breadcrumb-item text-muted">Aset</li>
      <li class="breadcrumb-item">
        <span class="bullet bg-gray-500 w-5px h-2px"></span>
      </li>

      <li class="breadcrumb-item text-muted">Aset Tetap</li>
    </ul>
  </div>

  <div class="d-flex align-items-center gap-2 gap-lg-3">
    <a href="/aset/create" class="btn btn-sm fw-bold btn-primary">
      <i class="fa fa-square-plus fs-2"></i>
      Add Aset
    </a>
  </div>
</div>
{{end}}
{{define "content"}}
<div class="table-responsive">
  {{range .Flashes}}
  <div class="alert alert-{{if eq .status 200}}success{{else}}danger{{end}} alert-dismissible fade show" role="alert"
    data-status="{{.status}}">
    {{.message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{end}}
  {{if .asets}}
  {{range .asets}}
  <div class="card card-flush pt-3 mb-5 pt-10">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap">
        <div class="me-7 mb-4">
          <a href="/aset/detail/{{ .ID }}"
            class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative image-placeholder kt-spinner kt-spinner--sm kt-spinner--brand">
            <img src="{{ .Path }}" alt="{{ .NamaAset }}" class="lazy" loading="lazy" />
          </a>
        </div>
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{ .NamaAset }}</a>
                <a href="#">
                  ({{calculateAssetAge .TanggalPerolehan}})
                </a>
              </div>
              <small class="mb-3">{{.KodeAset}}</small>
              <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                <span class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="fa fa-tag fs-4 me-1"></i>
                  {{ .Merek }}
                </span>
                <span class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="fa fa-bookmark fs-4 me-1"></i>
                  {{ .Model }}
                </span>
                <span class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                  <i class="fa fa-barcode fs-4 me-1"></i>
                  {{ .SerialNumber }}
                </span>
                <span class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                </span>
              </div>
            </div>
            <div class="d-flex my-4">
              <div class="me-0">
                {{ if $.Distribusi }}
                {{ $dist := index $.Distribusi .ID }}
                {{ $jumlah := .Jumlah }}
                {{ if eq $dist $jumlah }}
                <button class="btn btn-sm btn-primary me-3" disabled>
                  Distribusi
                </button>
                {{ else }}
                <a href="/aset/distribusi/{{ .ID }}" class="btn btn-sm btn-primary me-3">
                  <i class="fa fa-share fs-4"></i> Distribusi
                </a>
                {{ end }} {{ else }}
                <a href="/aset/distribusi/{{ .ID }}" class="btn btn-sm btn-primary me-3">
                  <i class="fa fa-share fs-4"></i> Distribusi
                </a>
                {{ end }}
                <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary" data-kt-menu-trigger="click"
                  data-kt-menu-placement="bottom-end">
                  <i class="ki-solid ki-dots-horizontal fs-2x"></i>
                </button>
                <div
                  class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3"
                  data-kt-menu="true">
                  <div class="menu-item px-3">
                    <a href="/aset/edit/{{ .ID }}" class="menu-link px-3">
                      <i class="fa fa-pen-to-square fs-2 me-2"></i>
                      Edit
                    </a>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#HapusAset{{.ID}}" class="menu-link px-3">
                      <i class="fa fa-trash fs-2 me-2"></i>
                      Hapus
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-wrap flex-stack">
            <div class="d-flex flex-column flex-grow-1 pe-8">
              <div class="d-flex flex-wrap">
                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                  <div class="d-flex align-items-center">
                    <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="26500000"
                      data-kt-countup-prefix="Rp. " data-kt-initialized="1">
                      {{formatCurrency .Nilai}}
                    </div>
                  </div>
                  <div class="fw-semibold fs-6 text-gray-500">
                    Nilai Aset
                  </div>
                </div>
                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                  <div class="d-flex align-items-center">
                    <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="1"
                      data-kt-initialized="1">
                      {{ .Jumlah }} {{ .Satuan }}
                    </div>
                  </div>
                  <div class="fw-semibold fs-6 text-gray-500">
                    Jumlah Aset
                  </div>
                </div>
                <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                  <div class="d-flex align-items-center">
                    <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="26,500,000"
                      data-kt-countup-prefix="RP. " data-kt-initialized="1">
                      {{ formatCurrency (mul .Nilai .Jumlah)
                      }}
                    </div>
                  </div>
                  <div class="fw-semibold fs-6 text-gray-500">
                    Total Nilai Aset
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
              <div class="d-flex justify-content-between w-75 mt-auto mb-2">
                <span class="fw-semibold fs-6 text-gray-500">Distribusi Aset</span>
                <span class="fw-bold fs-6">
                  {{ if $.Distribusi }}
                  {{ $dist := index $.Distribusi .ID }}
                  {{ if $dist }}{{ $dist }}{{ else }}0{{ end }}/{{ .Jumlah }} Unit
                  {{ else }}
                  0/{{ .Jumlah }} {{.Satuan}}
                  {{ end }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
        <li class="nav-item mt-2">
          <a class="nav-link text-active-primary ms-0 me-10 py-5 togglePemegang" data-id="{{.ID}}" href="#">Pemegang
            Aset</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="pemegang-{{.ID}}" style="display: none;">
    <div class="row g-6 mb-6 g-xl-9 mb-xl-9">
      {{with index $.PemegangAsets .ID}}
      {{range .}}
      <div class="col-md-6 col-xxl-4">
        {{if .Pegawai }}
        <div class="card">
          <div class="card-body d-flex flex-center flex-column py-9 px-5">
            <div class="symbol symbol-65px symbol-circle mb-5">
              <img src="http://localhost:8080/{{.Pegawai.Foto}}" alt="image">
              <div
                class="bg-success position-absolute rounded-circle translate-middle start-100 top-100 border border-4 border-body h-15px w-15px ms-n3 mt-n3">
              </div>
            </div>
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">{{.Pegawai.Name}}</a>
            <div class="fw-semibold text-gray-500 mb-6">{{.Pegawai.Jabatan}}</div>

            <span class="badge badge-primary">
              <span class="indicator-label">{{.Bidang.NamaBidang}}</span>
          </div>
        </div>
      </div>
      {{else}}
      <div class="card h-100 ">
        <div class="card-body d-flex justify-content-center text-center flex-column p-8">
          <a href="#" class="text-gray-800 text-hover-primary d-flex flex-column">
            <div class="symbol symbol-75px mb-5">
              <i class="fa fa-bank fs-1"></i>
            </div>
            <div class="fs-5 fw-bold mb-2">Bidang {{.Bidang.NamaBidang}}</div>
          </a>
        </div>
      </div>
    </div>
    {{end}}
  </div>
  {{end}}
  {{end}}
</div>
<!-- Hapus:: Begin Modal -->
<div class="modal fade" id="HapusAset{{.ID}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered mw-650px">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Hapus Aset</h2>
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <i class="ki-duotone ki-cross fs-1">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>
        </div>
      </div>
      <div class="modal-body">
        <p class="p-3">
          Apakah anda yakin ingin menghapus aset
          <strong><i>{{.NamaAset}}</i></strong>, dengan kode aset
          <strong><i>{{.KodeAset}}</i></strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa fa-circle-xmark fs-4"></i>Tidak
        </button>
        <a href="/aset/delete/{{.ID}}" class="btn btn-success">
          <i class="fa fa-circle-check fs-4"></i>Ya
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Hapus:: End Modal -->
{{ end }}
{{else}}
<div class="d-flex flex-column flex-center">
  <h1 class="text-gray-600 fw-bold fs-1">Tidak Ada Data Aset</h1>
</div>
{{end}}
{{end}}
{{define "scripts"}}
<script>
  document.querySelectorAll(".togglePemegang").forEach(function (link) {
    link.addEventListener("click", function (event) {
      event.preventDefault(); // Mencegah reload halaman

      let asetID = this.getAttribute("data-id"); // Ambil ID dari atribut data-id
      let pemegangDiv = document.getElementById("pemegang-" + asetID);

      // Toggle display
      if (pemegangDiv.style.display === "none" || pemegangDiv.style.display === "") {
        pemegangDiv.style.display = "block";
        this.classList.add("active");
      } else {
        pemegangDiv.style.display = "none";
        this.classList.remove("active");
      }
    });
  });
</script>
{{end}}